<%- include("partial/head") %>
<div id="bdy">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut repellat eos alias, ex provident perspiciatis mollitia voluptatum, molestiae sequi quod atque et officiis soluta ducimus, harum laudantium praesentium recusandae?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut praesentium delectus culpa ipsa ducimus, nobis minus fugiat laborum deleniti mollitia sapiente eum magni, alias rem molestias obcaecati corrupti consectetur quidem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit veritatis, alias explicabo cum id nostrum quia porro consectetur? Sequi molestias veritatis mollitia officia quo. Autem accusamus corporis cumque consequuntur doloremque?</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos ipsam, cumque cupiditate dolorum eos beatae nemo quae deleniti ea vel, provident sapiente. Eveniet sit error molestiae architecto praesentium, totam dolor?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores autem nobis ab nesciunt. Alias, assumenda maiores suscipit nesciunt illum quis. Possimus repellendus sequi quibusdam mollitia. Eos libero ab facilis est?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nulla repellendus adipisci voluptatum voluptatibus ut, nobis repudiandae qui deserunt soluta sit corporis tempora exercitationem reiciendis! Reiciendis cumque quam error eum!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut repellat eos alias, ex provident perspiciatis mollitia voluptatum, molestiae sequi quod atque et officiis soluta ducimus, harum laudantium praesentium recusandae?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut praesentium delectus culpa ipsa ducimus, nobis minus fugiat laborum deleniti mollitia sapiente eum magni, alias rem molestias obcaecati corrupti consectetur quidem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit veritatis, alias explicabo cum id nostrum quia porro consectetur? Sequi molestias veritatis mollitia officia quo. Autem accusamus corporis cumque consequuntur doloremque?</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos ipsam, cumque cupiditate dolorum eos beatae nemo quae deleniti ea vel, provident sapiente. Eveniet sit error molestiae architecto praesentium, totam dolor?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores autem nobis ab nesciunt. Alias, assumenda maiores suscipit nesciunt illum quis. Possimus repellendus sequi quibusdam mollitia. Eos libero ab facilis est?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nulla repellendus adipisci voluptatum voluptatibus ut, nobis repudiandae qui deserunt soluta sit corporis tempora exercitationem reiciendis! Reiciendis cumque quam error eum!</p>
</div>
<%- include("partial/foot") %>