<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/css/OwlColors.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/favicon.ico">
    <script src="https://kit.fontawesome.com/ae021b20b4.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <link rel="stylesheet" href="/css/imgPreview.css">
    <link rel="stylesheet" type="text/css" href="ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-heath.light.css" />
    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
   <script src="/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
   <script>hljs.initHighlightingOnLoad();</script>
   
    <!--<link rel="stylesheet" href="../../css/bootstrap.min.css">-->
    <title>Owl</title>
</head>
<body>
<%- include("partial/navbar") %>

<div class="m-5 p-5">
        <form action="/post/new" method="POST" enctype="multipart/form-data" >
            <div class="form-group">
              <label for="title"><h5>Add Title</h5></label>
              <input type="text" class="form-control" name="post[title]" id="title" aria-describedby="title_des" placeholder="Add title" required>
              <small id="title_des" class="form-text text-muted">Add a simple title</small>
            </div>
            <div class="form-group">
                <label for="description"><h5>Description</h5></label>
                <textarea class="form-control" name="post[description]" id="description" rows="13" cols="80" required>
                </textarea>
            </div>   
            <div class="form-group">
              <label for="image">
                <a class="btn btn-primary text-light" role="button" aria-disabled="false">+ Add Images</a>
                
              </label>
            
              <input type="file" name="image" accept="image/*" id="image" style="visibility: hidden; position: absolute;" multiple/>
              <p id="files-area">
                <span id="filesList">
                  <span id="files-names">
                  </span>
                </span>
              </p>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>   
            <!--<div class="form-group">
              <h5>Add Images (Max 3 Images)</h5><br>
              <label id="lab-img" for="image">
                <i class="fa fa-plus imgAdd"></i>
              </label>
            <input type="file" id="image" name="image" class="img" style="width: 0px;height: 0px;overflow: hidden;" accept="image/*" multiple>
            <div class="container">
              <div class="row">
              </div>
              </div>
            </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
          
    </div>
  -->
  <%- include("partial/scripts") %>
 <script>
     var editor = CKEDITOR.replace( 'description');
      editor.on( 'contentDom', function() {
       var editable = editor.editable();
       editable.attachListener( editable, 'click', function( evt ) {
      var link = new CKEDITOR.dom.elementPath( evt.data.getTarget(), this ).contains( 'a' );
    if ( link && evt.data.$.button != 2) {
      window.open( link.getAttribute( 'href' ) );
    }
  }, null, null, 15 );
} );
</script>
 <%- include("partial/foot") %>