<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owl</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body >
<div class="wrapper">
    <div class="w-75 m-auto justify-content-center row" id="log">
         <div class="col">
      <h2 style="color: cornsilk;"> Join your fellow learner for free!</h2>
      <div class="d-flex p-0 m-0">
     <img src="img/owl2.svg" alt=" hiiiiiiiii" id ="img1">
     </div>
     </div>
        <div class="form p-4 col">
        <form action="/signup" method="POST" enctype="multipart/form-data">
          <h3>Sign Up for free!</h3>
          <%- include ('./partial/flash') %> 
            <div class="container">
                <label for="name"><b>Your Name</b></label>
                <input type="text" placeholder="enter your name.." name="user[name]"  required>
                <label for="reg"><b>Reg no of SUST</b></label>
                 <input type="text" placeholder="registration Number" name="user[reg]"  required>
                 <!-- <label for="dept"><b>Department</b></label>
                 <input type="text" placeholder="Department" name="dept"  required> -->
                 <!-- shikari starts -->
                 <label for="department"><b>Department</b></label>
                 <input type="text" list="department" name="user[department]" placeholder="Department ex:CSE, EEE..."required >
                 <datalist id="department">
                   <% for(let dept of departments) { %>
                     <option value=<%= dept %>>  
                   <% } %>
                 </datalist>
                 <!-- shikari ends -->
                <label for="email"><b>Enter your Email</b></label>
                 <input type="text" placeholder="enter your email.." name="user[email]" required>
                 <label for="password"><b>Password</b></label>
                 <input type="password" placeholder="password" name="user[password]" required>
                 <label for="image"><b>Choose Avatar</b></label>
                 <input type="file" name="image" id="">
                 <button type="submit">Submit</button>
                 <p style="text-align: center;">Already a Member? <a href="/login">Login</a></p>
            </div>
        </form>
     </div>
  </div>  
  </div>
</body>

<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
crossorigin="anonymous"></script>
<script src="js/login.js"></script> 
</body>
</html>