#files-area {
  width: 80%;
  margin: 0 auto;
}

.file-block {
  border-radius: 10px;
  background-color: rgba(144, 163, 203, 0);
  margin: 0px;
  color: initial;
  display: inline-flex;
}


.file-delete {
  top: 0px;
  width:30px;
  height:30px;
  border-radius: 50%;
  text-align:center;
  background-color:rgba(173, 166, 166, 0.836);
  cursor:pointer;
}
.file-delete:hover {
  background-color: rgba(144, 163, 203, 0.2);
  border-radius: 10px;
}
