@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

@font-face{
    font-family: 'Roboto', sans-serif;
    src:url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
}
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');

html {
    height: 100%;
}
body { 
    padding-top: 70px; 
    background-color: #F5F5F5;
}
.navbar{
    padding: 1rem;
    border-bottom: 1.5px solid var(--skyblue);
}


.navbar-custom {
    height: 8vh;
  }
  .nav-item{
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.nav-link{
    color: rgb(20, 20, 20);
    align-self: center;
    margin: 5px;
    margin-top: 7px;
    padding: 7px;
}

  /* centered body */
  #bdy{
    position: relative;
    align-self: center;
    max-width: 700px;
    min-width: 400px;
    margin:auto;
    padding: 50px;
    transition: all 0.5s ease; 
    }
    #bdy-post{
        position: relative;
        align-self: center;
        max-width: 1000px;
        min-width: 400px;
        margin:auto;
        
        transition: all 0.5s ease;

    }
    
  /* sidebar left*/
  nav{
    font-family: 'Exo 2', sans-serif;
    background-color: #ffffff;  
}
#sidebarCollapse {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;
}



  #sidebar {
    border-radius: 10px;
    position: fixed;
    width: 250px;   
    top: 10%;
    left: 0;
    height: max-content;
    z-index:1;
    background:#ffffff;
    transition: all 0.5s ease;
}


#sidebar ul.components {
    transition: all 0.3s ease;
}


#sidebar ul li a {

    color: var(--textColor);
    margin-left: 2px;
    padding: 11px;
    padding-left: 40px;
    font-size: 0.83em;
    display: block;
    transition: all 0.3s ease;
}

.drpd{
    font-size: 0.8em;
    transition: all 0.3s ease;
}
#sidebar ul li a:hover {
    text-decoration: none!important;
    color: var(--hoverfont);
   transition: all 0.3s ease;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    text-underline-offset:none;
    color: var(--hoverfont);
    border-right:  var(--skyblue) 3px solid;
    font-weight: bold;
    background-color: var(--BGskyblue);
   transition: all 0.3s ease;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
#sidebar.active {
    margin-left: -250px;
}
/* sidebar left end */
/* Searchbar */
.searchIcon{
    display: none;
}
.searchbar{
    width: fit-content;
}

.searchbar input[type=text]{
    width: 30vw!important;
    border-radius: 5px;
    color: rgb(83, 75, 75);
    background-color: rgba(82, 82, 87, 0.1);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition:all 0.5s ease;
      
}
.searchbar input[type=text]:focus {
    background-color: rgba(228, 238, 245, 0.2);
    border-color: none;
    box-shadow: none !important;
    width: 40vw!important;
    
}
/* search bar end */
/* my Account */
#myAcc{
    position: relative;
    align-self: center;
    width:auto;
    margin: auto;
    transition: all 0.3s ease;
    }
/* my Account End */
.details{
    display: none;
}
.home{
    width: fit-content;
}
@media (max-width: 575px){
    .fa-arrow-left{
        margin-top: -1.50rem;
    }
    
    .searchbar{
        
        margin-top: -1.10rem;
    } 
    .upvote{
        font-size: 20px;
    }

    #sidebarCollapse,.navbar-brand{
        margin-top: -2.50rem;  
        padding-top: -2.50rem; 
    }
    
    
    .nav-link{
        color: rgb(0, 0, 0);
        align-self: center;
        margin-top: -1.75rem;  
        padding-top: -1.75rem;
    }


}

@media (max-width: 768px) {
    .post-img{
    width:100%; 
    object-fit: contain;
    height: 400px;
}
   
   
    .home{
        display: none;
    }
    #bdy{
        margin: auto;
        width: inherit;
        
    }
    .posts{
        width: 30px;;
    }
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0px;
    }
   
}
@media (max-width:1200px)
{
    .details{
        display: block;
    }

}
@media (max-width:1000px)
{
    
    #bdy{
        margin:auto;
    }
    .posts{
        min-width:40vw;
        max-width:50vw;
    }
    .nav-item{
        
        margin-left: 1px;
        margin-right: 1px;
        padding-left: 1px;
        padding-right: 1px;
    }
    
}

  
  .downvote-btn{
    background: url('/img/downvote.png') no-repeat 2px -27px;
    cursor: pointer;
    
  }
  .upvote-btn{
    background: url('/img/upvote.png') no-repeat 2px -27px;
    cursor: pointer;
    
}
.clicked{
    background: url('/img/upvote.png') no-repeat 2px 4px;
    cursor: pointer;
}
.clicked-downvote{
    background: url('/img/downvote.png') no-repeat 2px 4px;
    cursor: pointer;
}
/* comment */
.downvote-btn-comment{
    background: url('/img/downvote.png') no-repeat 2px -27px;
    cursor: pointer;
    
  }
  .upvote-btn-comment{
    background: url('/img/upvote.png') no-repeat 2px -27px;
    cursor: pointer;
    
}
.clicked-comment{
    background: url('/img/upvote.png') no-repeat 2px 4px;
    cursor: pointer;
}
.clicked-downvote-comment{
    background: url('/img/downvote.png') no-repeat 2px 4px;
    cursor: pointer;
}
/*comment end*/
.see-more{
    margin: 0;
    padding: 0;
    font-size: 16px;
    border: none;
    background-color:inherit;
    cursor:pointer;
}
.see-more:hover{
    text-decoration: underline;
    text-decoration-color:#2EBBF8 ;
}
.upvote
      {
        
        width: 16px;
        border-radius: 50%;
  }
  .report{
    font: size 14px;
    cursor: pointer; 
    color: #9A9A9A;
    transition: all 0.5s ease;
  }
  .report:hover{
    color: #201f1f;
  }
  .btn:focus {
    outline: none;
    box-shadow: none;
  }
  /*2px 4px*/


.info{
font-family: 'Exo 2', sans-serif;
position: fixed;
overflow-y: scroll;
font-size: 0.83em;
right: -30px;
width: fit-content;
padding: 0px;
padding-top: 20px;
padding-right: 20px;
height: auto;
top: 10%;
bottom: 0;
transition: all 0.5s ease;
}
.info::-webkit-scrollbar {
    width: 10px;
  }
  
.info:-webkit-scrollbar-track {
    background: #1f1111; 
  }
   
  /* Handle */
.info::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
.info::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.sec1{
    position: relative;
    width: 300px;
    align-self: center;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    
}
#homeBG{
    border-radius:10px;
    height:80px;
    background-image: url('/img/home.png');
    background-size: 300px;
    background-position: 20% 15%;
}
.top-table {
    
    border-collapse: collapse;
    width: 100%;
  }
  
  .top-table td,.top-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .top-table tr:nth-child(even){background-color: #f2f2f2;}
  
  .top-table tr:hover {background-color: #ddd;}
  
  .top-table th {
      margin: auto;
    border-top: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--skyblue);
    color: white;
  }
#signup{
    display: none;
}
.avatar{
    vertical-align: middle;
    margin: auto;
   border-radius: 50%;
}
.time{
    font-size: small;
    margin-bottom: 0px;
    padding: 0px;
    border-bottom: rgba(166, 168, 168, 0.788) 1px solid;
}
.avatar1{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.avatar2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.posts{
    width: 37.5rem;
}
.collapsed{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.save-collapsed{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.carousel-control-next,
.carousel-control-prev{
    font-size: 100px;
    border-color: rgb(87, 85, 85);
    margin-left: 20px;
    margin-right: 20px;
    top: 50%;
    height: 30px;
    width: 30px;
    background-color: rgba(75, 74, 74, 0.671);
    border-radius: 50%;
    box-shadow: rgb(15, 15, 15);
   
    
}

.post-img{
    width:100%; 
    object-fit: contain;
    height: 400px;
}
/*dropdown */
.dropdown-toggle::after {
    display: none;
}
.dropdown-item{
    cursor: pointer;
}
.dropdown-item:focus{
    background-color: darkgrey;
}
/* dropdown End*/
/*modal*/
.close:focus{
outline: none;
}
.md-textarea{
    resize: none;
}
.md-textarea:focus{
    
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
     /*remove the resize handle on the bottom right*/
}
/*dropdown*/

.drpdn-btn{
    padding: 0;
    border: none;
     background: none;
     width: 100%;
}
.drpdn-btn:focus{
    background: var(--BGskyblue);
    outline: none;
}
.dropdown-item:focus{
    background: var(--BGskyblue);
}

.card-img{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.dropdown-menu{
    font-family: 'Exo 2', sans-serif;
    font-size: 00.83em;
    color:var(--textColor)
}
.checked {
    color: orange;
  }
  #dp{
      width: 150px;
  }
  .custom{
      font-family: 'Exo 2',sans-serif;
  }
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
  
    color: rgb(255, 255, 255);
    background-color: var(--skyblue);
    padding: 8px;
    border-radius: 8px;
    font-size: small;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }