<link rel="stylesheet" href="css/flash.css">
<% if (error && error.length) {%>
  <% console.log(error) %> 
<div class="alert alert-warning alert-dismissible fade show" role="alert" >
      <span class="closebtn" class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</span>
      <strong><%= error %> </strong>
  </div>
<% } %> 