<link rel="stylesheet" href="css/flash.css">
<% if (error && error.length) {%> 
<div class="alert alert-warning alert-dismissible fade show" style="display: inline-block;"role="alert" >
    <strong><%= error %> </strong>
      <span class="closebtn" class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</span>
  </div>
<% } %> 