<div class="d-none d-sm-none d-lg-block" id="info">
       <div class="sec1">
          <h6>Welcome to your feed!</h6>
          <p>Total Subscriber 20989</p>
       </div>
       <div class="sec1">
        <h6>Top Contribuitors</h6>
        <p>Shikari</p>
        <p>Enam</p>
        <p>Devil May Cry</p>
        <p>See More...</p>
     </div>
     <div class="sec1">
        <h6>Meet Mentors</h6>
        <p>Enam</p>
        <p>Moqsadur</p>
        <p>See More...</p>
     </div>
     <div class="sec1">
         <h6>Create post to home</h6>
      <button>Ask a Question?</button>
     </div>
  
</div>
</div>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>
</html>
