<nav id="sidebar">

    <ul class="list-unstyled components">
        <li class="active">
            <a href="/" >Home</a>   
        </li>
        <li>
            <a href="#">Notifications</a>
        </li>
        <li>
            <a href="#">Join a Community</a>
        </li>
        <li>
            <a href="#">Create Community</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">My Community</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li class="drpd">
                    <a href="#">CSE 2018</a>
                </li >
                <li class="drpd">
                    <a href="#">SUST IICT</a>
                </li>
                <li class="drpd">
                    <a href="#">2/2 Geeks</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Reading List</a>
        </li>
        <li>
            <a href="#">Acheveiments</a>
        </li>
        <li>
            <a href="/profile/<%=currentUser.name%>">My Account</a>
        </li>
        <li>
            <a href="#">Settings</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul>
</nav>