<div id="info">
    <div class="sec1">
       <h6>Welcome to your feed!</h6>
       <p>Total Subscriber 20989</p>
    </div>
    <div class="sec1">
     <h6>Top Contribuitors</h6>
     <p>Shikari</p>
     <p>Enam</p>
     <p>Devil May Cry</p>
     <p>See More...</p>
  </div>
  <div class="sec1">
     <h6>Meet Mentors</h6>
     <p>Enam</p>
     <p>Moqsadur</p>
     <p>See More...</p>
  </div>
  <div class="sec1">
      <h6>Create post to home</h6>
   <button>Ask a Question?</button>
  </div>

</div>