<nav id="sidebar">

    <ul class="list-unstyled components">
        <li class="active">
            <a href="/" >Home</a>   
        </li>
        <li>
            <a href="#">Notifications</a>
        </li>
        <li>
            <a href="/c/joincommunites">Join a Community</a>
        </li>
        <li>
            <a data-toggle="modal" data-target="#exampleModal" data-whatever="<%=currentUser.name%>"> Create Community</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">My Community</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <% if(currentUser.community.length>0) {%> 
                    <% currentUser.community.forEach((com,i) => {%>
                        <li class="drpd">
                            <a href="/c/<%= com.name%>"><%= com.name%> </a>
                        </li >
                      <%})}%>
            </ul>
        </li>
        <li>
            <a href="#">Reading List</a>
        </li>
        <li>
            <a href="#">Acheveiments</a>
        </li>
        <li>
            <a href="/profile/<%=currentUser._id%>">My Account</a>
        </li>
        <li>
            <a href="#">Settings</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul>
</nav>