
<div class="info mr-4"  >
   <div class="sec1 mb-4">
      <div id="homeBG">
         
      </div>
      <div class="d-flex m-2 p-2">
      <img style="margin-top: -50px;" src="/img/owl1.png " width="50px">
      <h6><b>Welcome to home!</b></h6>
   </div>
      </div>  
    <div class="sec1 mb-2">
     <table class="top-table">
      <tr >
      <th class="text-center">Top Contributors</th>
      </tr>
      <tr>
         <td>Sohan</td>
      </tr>
      <tr>
         <td>Sohan</td>
      </tr>
      <tr>
         <td>Sohan</td>
      </tr>
      <tr>
         <td>Sohan</td>
      </tr>
      <tr>
         <td>Sohan</td>
      </tr>
      <tr>
         <td>See more..</td>
      </tr>
     </table>
  </div>
  <div class="sec1 mb-2">
   <table>
    <tr>
    <th>Top Contributors</th>
    </tr>
    <tr>
       <td>Sohan</td>
    </tr>
    <tr>
       <td>Sohan</td>
    </tr>
    <tr>
       <td>Sohan</td>
    </tr>
    <tr>
       <td>Sohan</td>
    </tr>
    <tr>
       <td>Sohan</td>
    </tr>
    <tr>
       <td>See more..</td>
    </tr>
   </table>
</div>

</div>
