<%- include("partial/head") %>
<%- include("partial/navbar") %>
<%- include("partial/sidebar_left") %>
<div class="ml-5">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, obcaecati praesentium ullam impedit quae in odio delectus fugit corporis facere, ab dolorem quaerat id, laudantium quia quas. Est, eos aut!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente asperiores porro culpa ad numquam assumenda inventore quo saepe nobis vel molestiae ipsam neque placeat, dolorem soluta corporis earum at! Distinctio!
        Et eius obcaecati voluptatibus autem inventore nemo totam! Fugiat sed, provident unde ex dolore commodi corrupti adipisci autem delectus nam doloremque, ratione accusantium. Cum aperiam aliquid sequi dolores veritatis atque?
        Dolore laboriosam quibusdam, sit porro nemo eligendi dignissimos id doloribus magnam fugit omnis optio nisi commodi, perferendis ducimus iure nam consequatur! Delectus, possimus? Praesentium similique vel enim natus delectus ipsa!
        Placeat tempora quibusdam aperiam quaerat quisquam eaque ipsa, fugiat in corrupti ullam molestias dolores nulla dolorem, sequi odio odit pariatur nobis. Debitis, molestiae et. Vitae ipsam ad enim possimus culpa.
    </p>
</div>
<%- include("partial/foot") %>
