<%- include("partial/head") %>
<%- include("partial/navbar") %>
<%- include("partial/sidebar_left") %>
<section class="home-section">
  <div class="home-content">
      <div class="overview-boxes">
          <div class="box">
              <div class="right-side">
                  <div class="box-topic"> Total Members </div>
                  <div class="number"> 1078 </div>
                  <div class="indicator">
                      <i class="bx bx-up-arrow-alt"></i>
                      <span class="text"> Up from yesterday </span>
                  </div>
              </div>
              <i class="bx bx-cart-alt cart"></i>
          </div>
          <div class="box">
              <div class="right-side">
                  <div class="box-topic"> New Member Request </div>
                  <div class="number"> 15 </div>
                  <div class="indicator">
                      <i class="bx bx-up-arrow-alt"></i>
                      <span class="text"> Up from yesterday </span>
                  </div>
              </div>
              <i class="bx bxs-cart-add cart two"></i>
          </div>
          <div class="box">
              <div class="right-side">
                  <div class="box-topic"> Unread Logs </div>
                  <div class="number"> 12 </div>
                  <div class="indicator">
                      <i class="bx bx-up-arrow-alt"></i>
                      <span class="text"> Up from yesterday </span>
                  </div>
              </div>
              <i class="bx bx-cart cart three"></i>
          </div>
          <div class="box">
              <div class="right-side">
                  <div class="box-topic"> New Post </div>
                  <div class="number"> 11, 086 </div>
                  <div class="indicator">
                      <i class="bx bx-down-arrow-alt down"></i>
                      <span class="text"> Down From Today </span>
                  </div>
              </div>
              <i class="bx bxs-cart-download cart four"></i>
          </div>
      </div>
      <div class="sales-boxes">
          <div class="recent-sales box">
              <div class="title"> New Members </div>
              <div class="sales-details">
               
                  <div class="card">
                      <div class="card_content">
                          <h4>Moksedur Rahman Sohan</h4>
                          <div class="dd">
                              <h6>cse</h6>
                              <h6>12:12:21</h6>
                          </div>
                          <h5>2018331078</h5>
                      </div>
                  </div>

                  <div class="card">
                    <div class="card_content">
                        <h4>Moksedur Rahman Sohan</h4>
                        <div class="dd">
                            <h6>cse</h6>
                            <h6>12:12:21</h6>
                        </div>
                        <h5>2018331078</h5>
                    </div>
                </div>
                <div class="card">
                  <div class="card_content">
                      <h4>Moksedur Rahman Sohan</h4>
                      <div class="dd">
                          <h6>cse</h6>
                          <h6>12:12:21</h6>
                      </div>
                      <h5>2018331078</h5>
                  </div>
              </div>
              <div class="card">
                <div class="card_content">
                    <h4>Moksedur Rahman Sohan</h4>
                    <div class="dd">
                        <h6>cse</h6>
                        <h6>12:12:21</h6>
                    </div>
                    <h5>2018331078</h5>
                </div>
            </div>
              </div>
          </div>
          <div class="top-contributors">
              <h3>Top Contributors</h3>
              <div class="persons">
                  <img src={rahat} alt="img" class="photo" />
                  <h4>Mohammad Rahat</h4>
              </div>
              <div class="persons">
                  <img src={delwar} alt="img" class="photo" />
                  <h4>Delwar Hossain</h4>
              </div>
              <div class="persons">
                  <img src={sohan} alt="img" class="photo" />
                  <h4>Moksedur Rahman</h4>
              </div>
              <div class="persons">
                  <img src={shanto} alt="img" class="photo" />
                  <h4>Hasibul Islam Shanto</h4>
              </div>
          </div>
      </div>
  </div>
</section><%- include("partial/foot") %>